.burger-container {
  position: fixed; /* Toujours visible */
  top: 2.5rem;
  left: 0.5rem;
  z-index: 9999;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;

  .burger-btn {
    font-size: 2rem;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    z-index: 10000;

    &:hover {
      color: #e50914;
      transition: color 0.3s ease-in-out;
    }
  }
}
/*  Cacher le burger sur les grands écrans (desktop) */
@media (min-width: 900px) {
  .burger-container {
    display: none !important;
  }
}
